.table-container {
    overflow: auto;
    max-width: 1200px;
    max-height: 600px;
    border-radius: 3px;
    border-right: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-container:focus {
    outline: none;
}

.grid-table {
    border-collapse: collapse;
    /*table-layout: fixed;*/
}

.grid-table th {
    vertical-align: middle;
    text-align: center;
    background-color: #aaaaaa;
    border: 1px solid black;
}

.grid-table td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
}

.grid-table td input{
    display: inline-block;
    background-color: inherit;
}

.grid-table input {
    -webkit-appearance:none;
    -moz-appearance: none;

    display: inline-block;
    outline: none;
    border: 0;
    width: 95%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-table td div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
